In [1]:
from google.colab import files 
uploaded = files.upload()

Saving heart_statlog_cleveland_hungary_final.csv to heart_statlog_cleveland_hungary_final.csv

In [2]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['heart_statlog_cleveland_hungary_final.csv']))

In [3]:
print(df)

      age  sex  chest pain type  resting bp s  cholesterol  \
0      40    1                2           140          289
1      49    0                3           160          180
2      37    1                2           130          283
3      48    0                4           138          214
4      54    1                3           150          195
...   ...  ...              ...           ...          ...
1185   45    1                1           110          264
1186   68    1                4           144          193
1187   57    1                4           130          131
1188   57    0                2           130          236
1189   38    1                3           138          175

      fasting blood sugar  resting ecg  max heart rate  exercise angina  \
0                       0            0             172                0
1                       0            0             156                0
2                       0            1              98                0
3                       0            0             108                1
4                       0            0             122                0
...                   ...          ...             ...              ...
1185                    0            0             132                0
1186                    1            0             141                0
1187                    0            0             115                1
1188                    0            2             174                0
1189                    0            0             173                0

      oldpeak  ST slope  target
0         0.0         1       0
1         1.0         2       1
2         0.0         1       0
3         1.5         2       1
4         0.0         1       0
...       ...       ...     ...
1185      1.2         2       1
1186      3.4         2       1
1187      1.2         2       1
1188      0.0         2       1
1189      0.0         1       0

[1190 rows x 12 columns]

In [4]:
df.head(5)

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0

In [5]:
df.tail(5)

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
1185,45,1,1,110,264,0,0,132,0,1.2,2,1
1186,68,1,4,144,193,1,0,141,0,3.4,2,1
1187,57,1,4,130,131,0,0,115,1,1.2,2,1
1188,57,0,2,130,236,0,2,174,0,0.0,2,1
1189,38,1,3,138,175,0,0,173,0,0.0,1,0

In [6]:
df.dtypes

age                      int64
sex                      int64
chest pain type          int64
resting bp s             int64
cholesterol              int64
fasting blood sugar      int64
resting ecg              int64
max heart rate           int64
exercise angina          int64
oldpeak                float64
ST slope                 int64
target                   int64
dtype: object